<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin home</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Lista-Rezervacija.css">
    <link rel="stylesheet" href="~/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="~/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="~/css/Map-Clean.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Team-Clean.css">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="~/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse"
                id="navcol-1" style="border-radius: 20px;">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Reservations</a></li>
                </ul><a class="text-secondary" href="#" style="text-decoration: none;">Users</a><a class="text-info" href="#" style="margin-left: 20px;text-decoration: none;">Transactions history</a>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Sign out</a></div>
        </div>
    </nav>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <p class="text-center">Welcome admin! These are all of today's reservations.</p>
            </div>
        </div>
    </div>
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <div class="input-group"><span class="input-group-addon"> <i class="fa fa-search" style="position: relative;top: 15px;right: 5px;"></i></span><input class="form-control" type="search" name="search"></div>
                    </div>
                </form>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Today <span class="badge badge-pill badge-primary">42</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="thread-list-head">
                                <nav class="thread-pages">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <ul class="thread-list">
                                <li class="thread"><span class="time">08:30</span><span class="title">Maecenas finibus est nec pretium molestie. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                <li
                                    class="thread"><span class="time">7:25</span><span class="title">Curabitur consectetur velit pharetra ex eleifend tempor. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                    <li
                                        class="thread"><span class="time">Apr 20</span><span class="title">Fusce iaculis ligula at nisl mollis suscipit. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                        <li
                                            class="thread"><span class="time">Apr 18</span><span class="title">Pellentesque tempus augue id risus lacinia vehicula. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                            <li
                                                class="thread"><span class="time">Apr 17</span><span class="title">Quisque lacinia massa non ex lobortis congue. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                <li
                                                    class="thread"><span class="time">Apr 19</span><span class="title">Mauris quis elit vitae erat luctus sagittis non vel ex. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                    <li
                                                        class="thread"><span class="time">Apr 17</span><span class="title">Nam dapibus urna vitae semper egestas. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                        <li
                                                            class="thread"><span class="time">Apr 15</span><span class="title">Sed sit amet ante malesuada, lacinia urna sed, faucibus sem. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                            <li
                                                                class="thread"><span class="time">Mar 23</span><span class="title">Nullam et massa a velit laoreet porttitor et nec neque. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                                <li
                                                                    class="thread"><span class="time">Mar 21</span><span class="title">Donec ut elit sodales, dignissim ligula at, posuere lacus. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                                                                    <li
                                                                        class="thread"><span class="time">Mar 2</span><span class="title">Nam in ligula vel nisl lobortis suscipit nec in lectus. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><i class="fa fa-star-o"></i></a><a class="flag" href="javascript:void(0)"><i class="fa fa-flag"></i></a></span></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2"></div>
                        <div class="tab-pane" role="tabpanel" id="tab-3"></div>
                        <div class="tab-pane" role="tabpanel" id="tab-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-clean"></div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>