<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin add</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Add/Edit sports centre</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="text" placeholder="Address"></div>
            <div class="form-group"><textarea class="form-control" name="description" placeholder="Description" rows="14"></textarea></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="font-weight: bold;">Football</label></div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item"><span>Start time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>End time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Duration</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Price</span><input class="form-control" type="number" placeholder="Amount"></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2" style="font-weight: bold;">Basketball</label></div>
            </div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item"><span>Start time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>End time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Duration&nbsp;</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Price</span><input class="form-control" type="number" placeholder="Amount"></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3" style="font-weight: bold;">Tennis</label></div>
            </div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item"><span>Start time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>End time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Duration</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Price</span><input class="form-control" type="number" placeholder="Amount"></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4" style="font-weight: bold;">Volleyball</label></div>
            </div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item"><span>Start time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>End time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Duration</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Price</span><input class="form-control" type="number" placeholder="Amount"></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5" style="font-weight: bold;">Handball</label></div>
            </div>
            <div class="form-group">
                <ul class="list-group">
                    <li class="list-group-item"><span>Start time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>End time</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Duration</span><input class="form-control" type="text" placeholder="hh/mm/ss"></li>
                    <li class="list-group-item"><span>Price</span><input class="form-control" type="number" placeholder="Amount"></li>
                </ul>
            </div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Save</button></div>
        </form>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>