
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>giftForma</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Login-Form-Gray.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="login-dark">
        @using (Html.BeginForm("GiftCurrency", "Gift"))
        {
        <form method="post" >
            <h2 class="sr-only">Gift Form</h2><img class="img-fluid" src="~/img/mhsc-logo.png">
            <div class="illustration"></div>
            <div class="form-group"><input class="form-control" type="text" name="etUsername" placeholder="Enter username" autocomplete="on"></div>
            <div class="form-group"><input class="form-control" type="number" min="0"  name="etCurrency" placeholder="Enter currency"></div>
            <div class="row">

                    <button class="btn btn-primary btn-lg btn-block" id="btnSignIn" type="submit" style="background: #56c6c6;">Gift</button>
                    @Html.ActionLink("Cancel", "Cancel_onClick", "Gift", null, new { @class = "btn btn-primary btn-lg btn-block", style = "background: #56c6c6;", type = "submit" })


                </div>

</form>
        }
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>