<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>guest home</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Navigation-with-Button.css" rel="stylesheet" />
    <link href="~/css/Navigation-with-Search.css" rel="stylesheet" />
    <link href="~/css/Map-Clean.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="~/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sports centres</a></li>
                </ul><a class="text-info" href="#">About</a>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label></div>
                </form><button class="btn text-secondary" type="button" style="margin-right: 10px;border-radius: 20px;/*background-color: #fff;*/border-color: #7BDC97;">Sign up</button><a class="btn btn-light action-button" role="button" href="#">Sign in</a></div>
        </div>
    </nav>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <p class="lead text-center">Welcome guest! Here's a map of all of our available sports centres.</p>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Sarajevo&amp;zoom=15" width="80%" height="450" style="/*width: 80px;*/align-self: center;position: relative;left: 140px;"></iframe></div>
    <script
        src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>