<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>user home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="assets/img/mhsc-logo.png" width="150">
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul><a class="text-secondary" id="linkHome" href="#" style="margin-right: 20px;">Home</a><a class="text-secondary" id="linkSportsCentres" href="#" style="margin-right: 20px;">Sports centres</a><a class="text-secondary" id="linkCustomReservation"
                    href="#" style="margin-right: 20px;">Custom reservation</a><a class="text-secondary" id="linkMyReservations" href="#" style="margin-right: 20px;">My reservations</a><a class="text-secondary" id="linkMyAccount" href="#" style="margin-right: 20px;">My account</a>
                <a
                    class="text-info" id="linkAbout" href="#">About</a>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"></label></div>
                    </form><small class="form-text text-muted" id="textCurrency" style="font-family: 'Amatic SC', cursive;font-size: 29px;width: 40px;">0.00</small><img src="assets/img/dollar.png" width="40px" style="filter: grayscale(52%) hue-rotate(9deg);margin-right: 20px;">
                    <a
                        class="btn btn-light action-button" role="button" id="btnSignOut" href="#">Sign out</a>
            </div>
        </div>
    </nav>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <p class="lead text-center" id="tvWelcomeUsername">Welcome username! Here's a map of all of our available sports centres.</p>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Sarajevo&amp;zoom=15" id="map" width="80%" height="450" style="/*width: 80px;*/align-self: center;position: relative;left: 140px;"></iframe></div>
    <script
        src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>